<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>Breakfast:</strong>: {{example.breakfast}}</p>
          <p> <strong>Lunch:</strong>: {{example.lunch}}</p>
          <p>
            <strong>Dinner:</strong> {{example.dinner}}</p>
        </div>
      </div>
    </div>
  </div>
</div>