<nav>
  <!-- Navigation Bar -->
  <div class="nav-wrapper">
    <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
    <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="sass.html">How it works</a>
      </li>
      <li>
        {{!-- <a class="dropdown-trigger" href="#!" data-target="dropdown1">Favourites
          <i class="material-icons right">arrow_drop_down</i>
        </a> --}}
      </li>
      <li class="signup">
        <a href="/signup">Sign up</a>
      </li>
      <li class="signin">
        <a href="/signin">Sign in</a>
      </li>
      <li class="hidden profile-page">
        <a href="profile.html">Profile</a>
      </li>
      <li class="hidden log-out">
        <a href="index.html">Log Out</a>
      </li>
      {{!-- <li>
        <a id="sign-in" class="waves-effect waves-light btn-small">
          <i class="material-icons left"></i>Sign-in with Google</a>
      </li>
      <li>
        <a id="sign-out" class="waves-effect waves-light btn-small">
          <i class="material-icons left"></i>Sign-out</a>
      </li> --}}
    </ul>
  </div>
</nav>

<!-- Dropdown Structure for uncollapsed navbar -->
<ul id="dropdown1" class="dropdown-content">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="sass.html">How it works</a>
  </li>
  <li>
    {{!-- <a class="dropdown-trigger" href="#!" data-target="dropdown2">Favourites
      <i class="material-icons right">arrow_drop_down</i>
    </a> --}}
  </li>

  <li class="register">
    <a href="/signup">Sign up</a>
  </li>
  <li class="sign-in-email">
    <a href="/signin">Sign in</a>
  </li>
  <li class="hidden profile-page">
    <a href="profile.html">Profile</a>
  </li>
  <li class="hidden log-out">
    <a href="index.html">Log Out</a>
  </li>
  <li>
    {{!-- <a id="sign-in" class="btn waves-effect waves-light btn-small">
      <i class="material-icons left">account_circle</i>
      <h6>Sign-in with Google</h6>
    </a>
  </li>
  <li>
    <a id="sign-out" class="waves-effect waves-light btn-small">
      <i class="material-icons left"></i>Sign-out</a>
  </li> --}}
</ul>

<!-- Dropdown Structure for collapsed navbar -->
<ul id="dropdown2" class="dropdown-content">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>


<!-- MAIN -->
<div class="container">
  <div class="row">
    <div class="col s3">
      <!-- RECIPE LIST-->
      <div id="recipeList" style=" padding-top: 1rem;
        overflow: auto;max-height: 120vh;">
        <div class="card" id="drag1" draggable="true" ondragstart="drag(event)">
          <div class="card-image waves-effect waves-block waves-light recipe-info">
            {{!-- <img class="activator" src="https://images.unsplash.com/photo-1538140177897-d71d1643349e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=058d4a817fafacf72008b4fe55a4f07f&auto=format&fit=crop&w=1352&q=80"
              height="100%"> --}}
          </div>
          {{!-- <span class="card-title activator grey-text text-darken-4 center">BURGER
            <li class="btn-floating btn-medium waves-effect waves-light red lighten-3 material-icons right">add</i>
          </span> --}}

        </div>

      </div>

    </div>

    <div class="col s9">

      <!-- enter dish -->
      <div class="input-field">

        <textarea id="meal" class="materialize-textarea"></textarea>
        <label for="meal">Enter dish: </label>
      </div>


      <!-- select allergies -->
      <div class="input-field">

        <select multiple id="allergy">
          <option value="" disabled>Choose your allergy</option>
          <option value="393^Gluten-Free">Gluten Free</option>
          <option value="394^Peanut-Free">Peanut Free</option>
          <option value="398^Seafood-Free">Seafood Free</option>
          <option value="399^Sesame-Free">Sesame Free</option>
          <option value="400^Soy-Free">Soy Free</option>
          <option value="396^Dairy-Free">Dairy Free</option>
          <option value="397^Egg-Free">Egg Free</option>
          <option value="401^Sulfite-Free">Sulfite Free</option>
          <option value="395^Tree Nut-Free">Tree Nut-Free</option>
          <option value="392^Wheat-Free">Wheat-Free</option>
        </select>
        <label>Allergies?</label>
      </div>


      <!-- Submit Search recipe -->
      <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Search
        {{!-- <i class="material-icons right"></i> --}}
      </button>

      <hr>
      <!--Weekly Tabs -->
      <div class="row">
        <div class="col s12">
          <ul id="tabs-swipe-demo" class="tabs">
            <li id="monday" class="tab col s1.5"><a href="#test-swipe-1">MON</a></li>
            <li id="tuesday" class="tab col s1.5"><a href="#test-swipe-2">TUE</a></li>
            <li id="wednesday" class="tab col s1.5"><a href="#test-swipe-3">WED</a></li>
            <li id="thursday" class="tab col s1.5"><a href="#test-swipe-4">THR</a></li>
            <li id="friday" class="tab col s1.5"><a href="#test-swipe-5">FRI</a></li>
            <li id="saturday" class="tab col s1.5"><a href="#test-swipe-6">SAT</a></li>
            <li id="sunday" class="tab col s1.5"><a href="#test-swipe-7">SUN</a></li>
          </ul>


          <!-- Monday -->
          <div id="test-swipe-1" class="col s12 teal lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>

          <!-- Tuesday -->
          <div id="test-swipe-2" class="col s12 red lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>
          <!--Wednesday -->
          <div id="test-swipe-3" class="col s12 teal lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>
          <!-- Thursday -->
          <div id="test-swipe-4" class="col s12 red lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>
          <!-- Friday -->
          <div id="test-swipe-5" class="col s12 teal lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>
          <!-- Saturday -->
          <div id="test-swipe-6" class="col s12 red lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
          </div>
          <!-- Sunday -->
          <div id="test-swipe-7" class="col s12 teal lighten-3">
            <div class="divider"></div>
            <div class="section">
              <h5 id="breakfast">BREAKFAST</h5>
              <div id="breakfast" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="lunch">LUNCH</h5>
              <div id="lunch" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5 id="dinner">DINNER</h5>
              <div id="dinner" class="weekday dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
              </div>

            </div>

          </div>

        </div>

      </div>

      <!-- <a id="save-week" class="waves-effect waves-light btn-large"><i class="material-icons left">check_circle</i>SAVE</a> -->

      <!-- Toss Bin -->
      <div class="clearbtn" id="dropit1" ondrop="drop(event)" ondragover="allowDrop(event)">
        <img src="https://cdn1.iconfinder.com/data/icons/Vista-Inspirate_1.0/128x128/filesystems/trashcan_full.png"
          style=width:200px; id="trashcan">

      </div>

      <!-- <div id="recipeDisplay" style="padding-top: 1rem; overflow: auto;min-height: 53vh; max-height: 53vh;"></div>

        <div id="recipeDay"></div>

        <div id="recipeContent" style="padding-top: 1rem; overflow: auto;min-height: 1vh; max-height: 60vh;"></div>

        <div id="recipeButtons"> -->

    </div>


  </div>

</div>

</div>



</div>




<!-- FIREBASE
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCiqyk_IOH9ucw_xlr-0fWySQdYOi26hxY",
      authDomain: "eatsmartplanyourweek.firebaseapp.com",
      databaseURL: "https://eatsmartplanyourweek.firebaseio.com",
      projectId: "eatsmartplanyourweek",
      storageBucket: "eatsmartplanyourweek.appspot.com",
      messagingSenderId: "474499886985"
    };
    firebase.initializeApp(config);
  </script> -->

<!-- jQuery CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<!-- import funnctions -->
<!-- <script src="./assets/javascript/functions.js"></script> -->

<!-- app JS code -->

<script type='text/javascript' src="/js/config.js"></script>
<script type="text/javascript" src="/js/newmain.js"></script>
<!-- app JS code -->
<!-- <script src="assets/javascript/registerapp.js"></script> -->
<!-- app JS code -->
<!-- <script src="assets/javascript/loginapp.js"></script> -->