<nav>
    <!-- Navigation Bar -->
    <div class="nav-wrapper">
        <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
        <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="sass.html">How it works</a>
            </li>
            <li>
                {{!-- <a class="dropdown-trigger" href="#!" data-target="dropdown1">Favourites
                    <i class="material-icons right">arrow_drop_down</i>
                </a> --}}
            </li>
            <li class="signup">
                <a href="/signup">Sign up</a>
            </li>
            <li class="signin">
                <a href="/signin">Sign in</a>
            </li>
            <li class="hidden profile-page">
                <a href="profile.html">Profile</a>
            </li>
            <li class="hidden log-out">
                <a href="index.html">Log Out</a>
            </li>
            {{!-- <li>
                <a id="sign-in" class="waves-effect waves-light btn-small">
                    <i class="material-icons left"></i>Sign-in with Google</a>
            </li>
            <li>
                <a id="sign-out" class="waves-effect waves-light btn-small">
                    <i class="material-icons left"></i>Sign-out</a>
            </li> --}}
        </ul>
    </div>
</nav>

<!-- Dropdown Structure for uncollapsed navbar -->
<ul id="dropdown1" class="dropdown-content">
    <li>
        <a href="#!">one</a>
    </li>
    <li>
        <a href="#!">two</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#!">three</a>
    </li>
</ul>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="sass.html">How it works</a>
    </li>
    <li>
        {{!-- <a class="dropdown-trigger" href="#!" data-target="dropdown2">Favourites
            <i class="material-icons right">arrow_drop_down</i>
        </a> --}}
    </li>

    <li class="register">
        <a href="/signup">Sign up</a>
    </li>
    <li class="sign-in-email">
        <a href="/signin">Sign in</a>
    </li>
    <li class="hidden profile-page">
        <a href="profile.html">Profile</a>
    </li>
    <li class="hidden log-out">
        <a href="index.html">Log Out</a>
    </li>
    <li>
        {{!-- <a id="sign-in" class="btn waves-effect waves-light btn-small">
            <i class="material-icons left">account_circle</i>
            <h6>Sign-in with Google</h6>
        </a>
    </li>
    <li>
        <a id="sign-out" class="waves-effect waves-light btn-small">
            <i class="material-icons left"></i>Sign-out</a>
    </li> --}}
</ul>

<!-- Dropdown Structure for collapsed navbar -->
<ul id="dropdown2" class="dropdown-content">
    <li>
        <a href="#!">one</a>
    </li>
    <li>
        <a href="#!">two</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#!">three</a>
    </li>
</ul>


<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>