<nav>
  <!-- Navigation Bar -->
  <div class="nav-wrapper">
    <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
    <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      {{!-- <li>
        <a href="sass.html">How it works</a>
      </li> --}}
      <li>
      </li>
      <li class="signup">
        <a href="/signup">Sign up</a>
      </li>
      <li class="home">
        <a href="/">Home</a>
      </li>
    </ul>
  </div>
</nav>



    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
