<nav>
  <!-- Navigation Bar -->
  <div class="nav-wrapper">
    <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
    <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      {{!-- <li>
        <a href="sass.html">How it works</a>
      </li> --}}
      <li>
      </li>
      <li class="home">
        <a href="/">Home</a>
      </li>
      <li class="fav">
        <a href="/fav">Favourites</a>
      </li>
      <li class="dashboard">
        <a href="/dashboard">Main Page</a>
      </li>
            <li class="logout">
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {{!-- <button><a href="/dashboard">Home</a></button> --}}
<div class="row">
 <div class="col s12">
    <div id="piechart"> </div>
 </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
 <script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/js/initializeDashboard.js"></script>
<script src="/js/index.js"></script>
<script src="/js/fav.js"></script>